.DS_Store

# Models
notebooks/models/bamibert/outputs/*
outputs/*
!outputs/bamibert/
outputs/bamibert/*
!outputs/bamibert/experiments_leaderboard.csv
*.safetensors
checkpoint-*/

.ipynb_checkpoints/
*.ipynb_checkpoints